<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" href="#myModal">Add</a>
        <!-- The Modal -->
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" href="#update">Update</a>
        <!-- The Modal -->
      </li>
    </ul>
  </div>
</nav>
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Adding</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form #myForm="ngForm">
            <div class="input-group mb-3 input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">Model</span>
              </div>
              <input type="text" name="model" [(ngModel)]="car.model" class="form-control">
            </div>
            <div class="input-group mb-3 input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">Color</span>
              </div>
              <input type="text" name="color" [(ngModel)]="car.color" class="form-control">
            </div>
            <div class="input-group mb-3 input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">Body type</span>
              </div>
              <select  name="bodyType" [(ngModel)]="car.bodyType" class="custom-select mb-1">
                <option selected value="sedan">Sedan</option>
                <option value="miniven">Minivan</option>
                <option value="coup">Coup</option>
                <option value="hatchback">Hatchback</option>
                <option value="liftback">Liftback</option>
                <option value="universalis">Universal</option>
              </select>
            </div>
            <div class="input-group mb-3 input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">Transmission</span>
              </div>
              <select name="transmission" [(ngModel)]="car.transmission" class="custom-select mb-1">
                <option selected value="Auto">Automatic transmission</option>
                <option value="Manual">Manual transmission</option>
              </select>
            </div>
            <div class="input-group mb-3 input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">Vehicle number</span>
              </div>
              <input type="text" name="vehicleNumber" [(ngModel)] = "car.vehicleNumber" class="form-control">
            </div>
            <div class="input-group mb-3 input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">Status</span>
              </div>
              <form>
                <select  name="isFree" [(ngModel)]="car.isFree"  class="custom-select mb-1">
                  <option selected value="false">Booked</option>
                  <option value="true">Free</option>
                </select>
              </form>
            </div>
            <div class="input-group mb-3 input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">Price per day rent</span>
              </div>
              <input type="number" name="price" [(ngModel)]="car.price" class="form-control">
            </div>
            <div class="modal-footer">
              <button class="btn btn-outline-success p-2" type="submit" (click)="addCar(car)">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- The Modal -->
<div class="modal fade" id="update">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Updating</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form #myForm="ngForm">
          <select name="car.id" [(ngModel)]="updatingCar.id" (change)="setDataUpdateCar(updatingCar.id)" class="custom-select mb-1">
            <option *ngFor="let car of cars"   selected
                    value="{{car.id}}">{{car.model}} {{car.vehicleNumber}}
            </option>
          </select>
          <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">Model</span>
            </div>
            <input type="text" name="model" [(ngModel)]="updatingCar.model" value="{{updatingCar.model}}"
                   class="form-control">
          </div>
          <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">Color</span>
            </div>
            <input type="text" name="color" [(ngModel)]="updatingCar.color" value="{{updatingCar.color}}"
                   class="form-control">
          </div>
          <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">Body type</span>
            </div>
            <select name="bodyType" [(ngModel)]="updatingCar.bodyType" class="custom-select mb-1">
              <option selected value="sedan">Sedan</option>
              <option value="miniven">Minivan</option>
              <option value="coup">Coup</option>
              <option value="hatchback">Hatchback</option>
              <option value="liftback">Listback</option>
              <option value="universalis">Universal</option>
            </select>
          </div>
          <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">Transmission</span>
            </div>
            <select name="transmission" [(ngModel)]="updatingCar.transmission" class="custom-select mb-1">
              <option selected value="Auto">Automatic transmission</option>
              <option value="Manual">Manual transmission</option>
            </select>
          </div>
          <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">Vehicle number</span>
            </div>
            <input type="text" name="vehicleNumber" [(ngModel)]="updatingCar.vehicleNumber" value="{{car.vehicleNumber}}"
                   class="form-control">
          </div>
          <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">Status</span>
            </div>
            <form>
              <select name="isFree" [(ngModel)]="updatingCar.isFree" class="custom-select mb-1">
                <option selected value="false">Free</option>
                <option value="true">Booked</option>
              </select>
            </form>
          </div>
          <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">Price per day rent</span>
            </div>
            <input type="number" name="price" [(ngModel)]="updatingCar.price" value="{{updatingCar.price}}"
                   class="form-control">
            <div class="modal-footer">
              <button class="btn btn-outline-success p-2" type="submit" (click)="updateCar(updatingCar)">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <table class="table table-hover table-light">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Model</th>
      <th scope="col">Color</th>
      <th scope="col">Body type</th>
      <th scope="col">Transmission</th>
      <th scope="col">Vehicle number</th>
      <th scope="col">Status</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let car of cars" class="text-left" href="#reduct">
      <td>{{car.model}}</td>
      <td>{{car.color}}</td>
      <td>{{car.bodyType}}</td>
      <td>{{car.transmission}}</td>
      <td>{{car.vehicleNumber}}</td>
      <td>{{car.isFree}}</td>
      <td>{{car.price}}</td>
      <td>
        <button class="btn btn-outline-success p-2" type="submit" (click)="deleteCar(car.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
