<div class="jumbotron text-center">
  <h1 style="color:Gray">CarSharing</h1>
  <div class="container-fluid">
    <div class="d-flex justify-content-center mt-5">
      <a [routerLink]="['/cars']" class="btn btn-outline-secondary m-2">Cars</a>
      <a [routerLink]="['/clients']" class="btn-outline-secondary btn m-2">Clients</a>
      <a [routerLink]="['/contracts']" class="btn-outline-secondary btn m-2">Contracts</a>
      <a [routerLink]="['/accidents']" class="btn-outline-secondary btn m-2">Accidents</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

