<h2>Persons</h2>
<form #myForm="ngForm" novalidate>
  <br>
  <span class="ui-float-label">
    <input id="float-input-name" type="text" size="20" name="name" [(ngModel)]="name" pInputText>
    <label for="float-input-name">Name</label>
  </span>
  <br>
  <span class="ui-float-label">
    <input id="float-input-age" type="number" size="30" name="age" [(ngModel)]="age" pInputText>
    <label for="float-input-age">Age</label>
</span>
  <div>
    <br>
    <button pButton type="button" label="Add" (click)="addUser(myForm)" class="ui-button-rounded ui-button-success"></button>
    <button pButton type="button" label="Delete" (click)="deleteUser(myForm)" class="ui-button-rounded ui-button-danger"></button>
  </div>

</form>
<ul>
  <li *ngFor='let user of users'>{{ user.name }} - {{ user.age }}</li>
</ul>
