<div>Some Information</div>
<form #myForm="ngForm" novalidate>
  <div>
    <label>Name:</label>
    <input class="form-control" type="text" name="name" [(ngModel)]="name"/>
  </div>
  <div>
    <label>Age:</label>
    <input class="form-control" type="number" name="age" [(ngModel)]="age"/>
  </div>
  <!--<p-splitButton label="Save" icon="pi pi-check" (onClick)="addUser(myForm)" ></p-splitButton>-->
  <button type="submit" (click)="addUser(myForm)">Добавить</button>

  <button type="submit" (click)="deleteUser(myForm)">Удалить</button>
</form>
<ul>
  <li *ngFor='let user of users'>{{ user.name }} - {{ user.age }}</li>
</ul>
